@import "./partials/common";

.card{
    width: 28%;
    aspect-ratio: 1 / 1;
    background-color: $main-color;
    display: flex;
    align-items: flex-end;
    margin: 50px 10px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    position: relative;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    div{
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 3;
        border-radius: 15px;
        background: linear-gradient(rgba(255,255, 255, 0), rgba(0, 0, 0, .4));
    }

    p{
        position: absolute;
        z-index: 3;
        margin: 30px;
        width: 33%;
    }

    @media (max-width: $bp-mobile) {
        width: 100%;
        margin: 10px 0px;
    }
}