@import "./partials/common";

.Logements{
    @include body-margin();

    color: $main-color;

    .logement-container{

        display: flex;
        justify-content: space-between;

        .left-div, .right-div{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding-top: 10px;
            & > * {
                padding-top: 10px;
            }
        }

        .right-div{
            align-items: flex-end;
        }
    
        .title-container{
            h1{
                font-weight: 500;
                margin: 0;
            }
            p{
                margin: 5px 0;
            }
        }
    
    
        .host{
            display: flex;
            & > * {
                margin-left: 15px;
            }
            
            img{
                border-radius: 50px;
                width: 64px;
                height: 64px;
            }
    
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
    
            p{
                display: flex;
                flex-direction: column;
                text-align: right;
                margin: 2px 0;
                font-size: 18px;
            }
        }
    
        .tag-container{
            display: flex;
            flex-wrap: wrap;
            div{
                color: white;
                background-color: $main-color;
                border-radius: 11px;
                padding: 6px 20px;
                font-size: 14px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .collapse-container{
        display: flex;
        justify-content: space-between;
        gap: 8%;
    }

    @media (max-width: $bp-mobile) {
        .logement-container{
            flex-direction: column;

            .right-div{
                flex-direction: row-reverse;
                align-items: center;
                padding-top: 0;
            }
    
            .title-container{
                h1{
                    font-size: 22px;
                    padding-bottom: 5px;
                }
                p{
                    font-size: 14px;
                }
            }

            .tag-container{
                div{
                    font-size: 10px;
                    border-radius: 7px;
                    padding: 4px 15px;
                }
            }

            .stars-container{
                img{
                    height: 18px;
                    margin-left: 0;
                    margin-right: 15px;
                }
            }

            .host{
                & > * {
                    margin-left: 10px;
                }
                img{
                    height: 32px;
                    width: 32px;
                }
                p{
                    font-size: 12px;
                }
            }
        }

        .collapse-container{
            flex-direction: column;
            align-items: center;
            margin: 10px 0;

            .Collapse{
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }
}