body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.card {
  width: 28%;
  aspect-ratio: 1/1;
  background-color: #FF6060;
  display: flex;
  align-items: flex-end;
  margin: 50px 10px;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  position: relative;
}
.card p {
  position: absolute;
  z-index: 2;
  margin: 30px;
  width: 33%;
}
.card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}